@charset "UTF-8";

@font-face{
    font-family: "Andoid";
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #2fdc84;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Times New Roman', Times, serif;
    --font-android: 'Android', verdana;
}
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

a.external::after{
    content: '00A00\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: var(--font-destaque);
    color: white;
    min-height: 150px;
    text-align: center;
    padding: 40px;
}

header > h1 {
    font-size: 3em;
    color: white;
    font-family: var(--font-destaque);
    margin: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.801);

}

header > p {
    font-family: var(--font-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 678;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
}

nav{
    padding: 10px;
    background-color: var(--cor5);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.459);

}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{ 
    background-color: var(--cor4);
    color: var(--cor6);
    border-radius: 5px;
}

main{
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 290px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.459);

}

main > h1{
    font-family: var(--font-destaque);
}
main h1{
    font-family: var(--font-android);
}
main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 60px;
    font-size: 1em;
    line-height: 2em;
    text-indent: 8px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;

}
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}
main img.pequena{
   max-width: 240px;
    display: block;
    margin: auto;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.534);
}
aside > h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px -10px;
    border-radius: 10px 10px 0px 0px ;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    
}

footer{
    background-color: var(--cor6);
    color: white;  
    text-align: center;
    font-size: 0.8em;
}

footer  a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}