
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: opx;
    padding: 0px;
}

body,html{
    background-color: lightgray;

}

header{
    background-color: gray;

}
header > h1{
    padding: 10px;
    text-align: center;
    color: white;
}
span#menu{
    background-color: rgb(51, 38, 38);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    
}
span#menu:hover{
    background-color: white;
    color: black;
}
menu{
    display: none;

}
menu > ul {
    list-style: none;

}
menu  a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(63, 55, 55);
    border-top: 2px solid gray;

}
menu a:hover{
    background-color: rgb(70, 64, 64);
}
main{
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}
article > h2{
    padding-bottom: 2opx;
}
article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}